<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nwork</title>
    <link rel="shortcut icon" href="/static/images/Logo.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="scss/_global.scss"> -->
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>



<body>

    <header class="header">
        <div class="conteiner">
            <div class="header__inner">
                <a href="#top" class="logo">
                    <picture class="logo__img">
                        <source src="/static/images/inst.png" @media="(max-width:640px)">
                        <img src="/static/images/Logo.png" alt="">
                    </picture>
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item"><a href="#products" class="menu__items">Лекарства</a></li>
                        <li class="menu__item"><a href="https://wa.me/0707021193" class="menu__items">Вопросы</a></li>
                        <li class="menu__item"><a href="#hz" class="menu__items">Контакты</a></li>
                        <li class="buy-button"></li>
                        <li class="menu__list-phone"><a href="tel:996778010039" class="phone__number">0707021193</a>
                        </li>
                    </ul>
                </nav>
                <div class="phone">
                    <a href="#hz" class="ashke">Купить</a>
                    <a href="tel:996778010039" class="phone__number">0707021193</a>
                </div>
            </div>
        </div>
    </header>

    <section id="top" class="page__section top">
        <div class="page__section__wrapper top__wrapper">
            <div class="conteiner class2">
                <div class="top__inner">
                    <h1 class="top__title">
                        НООКАТ NWORK
                    </h1>
                    <p class="top__test">
                        Лекарства с черным тмином
                    </p>
                </div>
                <div class="top__social">
                    <ul class="top__list">
                        <li class="top__item">
                            <a href="https://www.tiktok.com/@noocatnwork" class="top__hz">
                                <img src="/static/images/tt.png" alt="" width="40px" height="40px">
                            </a>
                        </li>
                        <li class="top__item">
                            <a href="https://www.instagram.com/noocatnwork/" class="top__hz">
                                <img src="/static/images/inst.png" alt="" width="40px" height="40px" class="">
                            </a>
                        </li>
                        <li class="top__item">
                            <a href="/static/https://wa.me/707021193" class="top__hz">
                                <img src="/static/images/wht.png" alt="" width="40px" height="40px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <section id="products" class="page__section products">
        <div class="page__section__wrapper">
            <div class="conteiner">
                <h3 class="title products__title">
                    Для чего нужен черный тмин ?
                </h3>
                <div class="product__inner">
                    <div class="products__text">
                        <ul class="text-list">
                            <li class="text-item">• Защита клеток от вирусов путем защиты нашей иммунной системы от
                                инфекций</li>
                            <li class="text-item">• Балансирует холестерин,</li>
                            <li class="text-item">• Помогает расслабить пищеварительную систему.</li>
                            <li class="text-item">• Помимо витаминов A, B и C, он содержит такие ценные компоненты, как
                                кальций, калий, магний и цинк.</li>
                        </ul>
                        <p class="text_p">Предупреждения :
                            Пищевые добавки не заменяют питание. Это не лекарство, оно не используется для лечения
                            болезней.</p>
                    </div>
                    <div class="img_block">
                        <picture>
                            <source src="/static/images/item1_mini.png" @media="(max-width:900px)">
                            <img class = "imges"src="/static/images/item1.png" style="width: 190px;height: 400px;" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="page__section products">
        <div class="page__section__wrapper">
            <div class="conteiner">                
                <h3 class="title products__title">
                    Капсула озонового геля:
                </h3>
                <div class="product__inner">
                    <div class="products__text">
                        <ul class="text-list">
                            <li class="text-item">• Увеличивает кислородную емкость
                            крови в 2-10 раз.</li>
                            <li class="text-item">• Уничтожает бактерии, грибки и вирусы
                            в организме.</li>
                            <li class="text-item">• Помогает укрепить иммунную систему.</li>
                        </ul>
                        <p class="text_p">Предупреждения :
                            Пищевые добавки не заменяют питание. Это не лекарство, оно не используется для лечения
                            болезней.</p>
                    </div>
                    <div class="img_block">
                        <picture>
                            <source src="/static/images/item3_mini.png" @media="(max-width:900px)">
                            <img class = "imges" src="/static/images/item3.png" style="width: 190px;height: 400px;" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="page__section products">
        <div class="page__section__wrapper">
            <div class="conteiner">
                <h3 class="title products__title">
                    КАПСУЛЫ СМЕСИ НИГЕЛЛЫ:
                </h3>
                <div class="product__inner">
                    <div class="products__text">
                        <ul class="text-list">
                            
                            
                            <li class="text-item">• Это пищевая добавка, состоящая из смеси масла
                            черного тмина, масла косточек инжира, масла
                            косточек граната, масла косточек винограда
                            масла косточек абрикоса.</li>
                        </ul>
                        <p class="text_p">Предупреждения: Пищевые добавки не заменяют питание.
                        Это не лекарство, оно не используется для лечения болезней.</p>
                    </div>
                    <div class="img_block">
                        <picture>
                            <source src="/static/images/item2_mini.png" @media="(max-width:900px)">
                            <img class = "imges" src="/static/images/item2.png" style="width: 190px;height: 400px;" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="page__section products">
        <div class="page__section__wrapper">
            <div class="conteiner">
                <h3 class="title products__title">
                    КАПСУЛЫ СМЕСИ НИГЕЛЛЫ:
                </h3>
                <div class="product__inner">
                    <div class="products__text">
                        <ul class="text-list">
                            <li class="text-item">• Это пищевая добавка, состоящая из смеси масла
                            черного тмина, масла семян инжира, масла абрикосовых
                            косточек, масла виноградных косточек, масла косточек граната.</li>
                        </ul>
                        <p class="text_p">Предупреждения: Пищевые добавки не заменяют питание.
                            Это не лекарство, оно не используется для лечения болезней.</p>
                    </div>
                    <div class="img_block">
                        <picture class="r123r">
                            <source src="/static/images/item4_mini.png" @media="(max-width:900px)">
                            <img class = "imges3" src="/static/images/item4.png"  alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="page__section products">
        <div class="page__section__wrapper">
            <div class="conteiner">
                <h3 class="title products__title">
                    ТУРЕЦКИЙ ЧЕРНЫЙ КОФЕ С ТМИНОМ:
                </h3>
                <div class="product__inner">
                    <div class="products__text">
                        <ul class="text-list">
                            <li class="text-item">• Наш турецкий кофе, вместе с которым
                            любое общение может стать самым ярким.</li>
                            <li class="text-item">•Для похудение</li>
                        </ul>
                        <p class="text_p">
                            Состав : кофе по-турецки, экстракт черного тмина.
                            Масса нетто : 200 гр</p>
                    </div>
                    <div class="img_block">
                        <picture>
                            <source src="/static/images/item5_mini.png" @media="(max-width:900px)">
                            <img class = "imges2" src="/static/images/item5.png" style="width: 240px;height: 400px;" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="page__section products">
        <div class="page__section__wrapper">
            <div class="conteiner">
                <h3 class="title products__title">
                    Кофе со сливками с чёрным тмином:
                </h3>
                <div class="product__inner">
                    <div class="products__text">
                        <ul class="text-list">
                            <li class="text-item">• Придает мягкий вкус кофе с добавлением
                            растительных сливок. Не содержит сахара.</li>
                            <li class="text-item">•Для тех у каго высокое давление</li>
                        </ul>
                        <p class="text_p">
                            Состав : растворимый кофе, экстракт черного
                        тмина и растительные сливки.
                        Масса нетто : 200 гр</p>
                    </div>
                    <div class="img_block">
                        <picture>
                            <source src="/static/images/item6_mini.png" @media="(max-width:900px)">
                            <img class = "imges2" src="/static/images/item6.png" style="width: 240px;height: 400px;" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="page__section products">
        <div class="page__section__wrapper">
            <div class="conteiner">
                <h3 class="title products__title">
                    КОФЕ С ЧЕРНЫМ ТМИНОМ
                </h3>
                <div class="product__inner">
                    <div class="products__text">
                        <ul class="text-list">
                            <li class="text-item">• Вы можете наслаждаться нашим кофе с прекрасным
                            составом в любое время дня.</li>
                            <li class="text-item">•Для тех у каго высокое давление</li>
                        </ul>
                        <p class="text_p">
                            Состав : растворимый кофе, экстракт черного
                            тмина и растительные сливки.
                            Масса нетто : 200 гр</p>
                    </div>
                    <div class="img_block"><picture>
                        <source src="/static/images/item7_mini.png" @media="(max-width:900px)">
                        <img class = "imges2" src="/static/images/item7.png" style="width: 240px;height: 400px;" alt="">
                    </picture>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="hz" class="page__section top">
        <div class="page__section__wrapper top__wrapper">
            <div class="conteiner class2">
                <div class="top__inner">
                    <h1 class="top__title">
                        Контакты 
                    </h1>
                    </div>
                <div class="top__social">
                    <ul class="top__list">
                        <li class="top__item">
                            <a href="https://www.tiktok.com/@noocatnwork" class="top__hz">
                                <img src="/static/images/tt.png" alt="" width="150px" height="150px">
                            </a>
                        </li>
                        <li class="top__item">
                            <a href="https://www.instagram.com/noocatnwork/" class="top__hz">
                                <img src="/static/images/inst.png" alt="" width="150px" height="150px" class="">
                            </a>
                        </li>
                        <li class="top__item">
                            <a href="https://wa.me/707021193" class="top__hz">
                                <img src="/static/images/wht.png" alt="" width="150px" height="150px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </section>
    <script src="/static/js/main.js"></script>
</body>

</html>
<!-- https://api.whatsapp.com/send?phone=<PHONE></PHONE> -->